<h1> Word Entry </h1>

<table id="entry_table">
  <tr>
    <th>Word</th>
    <th>Language</th>
    <th></th>
  </tr>

<p><b>Subtopic:</b><%= @subtopic.name %></p>

<% @entries.each do |entry| %>
  <tr class='entry'>
    <td><%= entry.word %></td>
    <td><%= entry.language.name %></td>
    <td><%= link_to 'Destroy', subtopic_entry_path(@subtopic,entry), :class => 'delete_entry', :remote=> true, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= form_for (setup_entry(@entry)), :url => subtopic_entries_path(@subtopic), :remote => true, :html => {'data-type' => 'json'}  do |f| %>
 <%= field_set_tag nil, :class => 'input' do %>
  <ol>
   <li>
    <%= f.label "Add an Entry" %>
    <%= f.text_field :word %>
    <%= f.label "Language" %>
    <%= collection_select(:entry,:language_id, Language.all,:id,:name) %>
  </li>	

    <li>
   <div id="translations"></div>
   <%#= f.fields_for :translations do |ff| %>
    <%#= ff.label "Add a Translation" %>
    <%#= ff.text_field :word %>
    <%#= ff.label "Language" %>
    <%#= ff.collection_select(:language_id, Language.all,:id,:name) %>
    <%#end %>
  </li>

<li>
	 <%= f.submit "Add" %>
</li>
  </ol>
 <% end %>
<% end %>






